a {
  text-decoration: none;
}

body {
  background-color: #fafafa;
  overflow-x: hidden;
}
.btn-primary {
  color: #fff;
}

.btn-primary.active {
  color: #fff;
}

.btn-outline-primary:hover {
  color: #fff;
}

.logo {
  font-family: "Zen Kurenaido", sans-serif;
  color: #fff;
}

.container-404 {
  min-height: 100vh;
}