.button--search {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    justify-content: center;
    width: 200px;
    z-index: 2;
}
.button--jump {
  color: #fff;
  font-size: 1rem;
  background: #347e87;
  padding: 7px 15px;
  display: inline-block;
  transition: .3s;
  &:hover {
    animation: pulsation .7s alternate infinite;
    color: #fff;
  }
}

@keyframes pulsation {
    0% { transform: scale(1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1.1); }
}