.p-steps {
    display:flex;
    justify-content:space-between;
    @include sp {
        flex-direction:column;
    }
    li {
        width:32%;
        text-align:center;
        padding:10px;
        background:#bdbdbd;
        @include sp {
            width: 100%;
        }
        p {
            margin-bottom:0;
        }
    }
    .is-active {
        background:#4bacb8;
        color:#fff;
    }
}

// 沒有商品時
.p-product--none {
    min-height: 75vh;
}
.p-cart--complete {
    min-height: 60vh;
}

//購物車內容
.form-select {
    padding-right: 0.25rem;
}
