.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative;
    padding: 0;
    @include sp {
      padding: 0 10px;
    }
  }

  &__title {
    width: 80px;
    font-size: 1.3em;
    margin-bottom: 0;
    a {
      color: #fff;
      font-family: "Zen Kurenaido", sans-serif;
    }
    @include sp {
      width: 120px;
    }
  }
  &__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(120%);
    background-color: #fff;
    transition: ease 0.4s;
    @include pc {
      position: static;
      transform: initial;
      background-color: inherit;
      height: inherit;
      display: flex;
      justify-content: end;
      width: 50%;
    }
  }

  &__hamburger {
    width: 48px;
    height: 100%;
  }
}

// header下げる時
.header.menu-scroll {
  background: #fff;
  .nav-list {
    a {
      color: #333;
    }
  }
  .header__title {
    a {
      color: #333;
    }
  }
  .hamburger span {
    background-color: #333;
  }
  .nav__footer .cart-icon {
    color: #333;
  }
}

.nav-list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  @include pc {
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
    justify-content: flex-end;
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    margin-bottom: 0;
  }
  a {
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1em;
    margin-bottom: 24px;
  }
  .active {
    color: #fff;
  }
  &:last-child a {
    margin-bottom: 0;
  }
}

.nav {
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
    @include pc {
      display: none;
    }
    .cart-icon {
      color: #fff;
      font-size: 1.25em;
    }
  }
}
.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
  @include pc {
    display: none;
  }

  span {
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: relative;
    transition: ease 0.4s;
    display: block;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      margin: 8px 0;
    }
    &:nth-child(3) {
      top: 0;
    }
  }
}

.header__nav.active {
  transform: translateX(0);
  .nav-list__item a {
    @include sp {
      color: #333;    
    }
  }
}

.header__title.active {
  z-index: 99;
  a {
    @include sp {
      color: #333;
    }
  }
}

.nav__footer.active {
  .hamburger span {
    background-color: #333;
  }
  .cart-icon {
    color: #333;
  }
}

.hamburger.active {
  span {
    &:nth-child(1) {
      top: 5px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      top: -13px;
      transform: rotate(-45deg);
    }
  }
}