// section
.section {
  min-height: 400px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  @include sp {
    min-height: 300px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
  p {
    z-index: 2;
    font-weight: bold;
  }
}

.section-nobackground {
  min-height: 400px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 80px;
  @include sp {
    min-height: 300px;
  }
  p {
    z-index: 1;
  }
}

.section--about {
  margin: 6em 0;
}

.background-image {
  top: 0;
  bottom: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
}

.background-image--about {
  background-image: url("https://storage.googleapis.com/vue-course-api.appspot.com/shio-vue/1650181415197.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=fQZQH48HPO6FjFniq%2FSJeBiFXLJdSMsHo8rjBwElPJTfZjp2vNYLJj3r5xvUvgnLBJDpGwAl6r6c0tzpHu2a%2F2AptQHciq9fnMkMpdGLEjG7s8LnGU%2FBJT2HdI%2BXQtsNFqK3RoI3Sdt8IisxxPlhGAlDDUuv1rRSDRAxa1yty%2BfWjCm%2FSK9v%2BIMzxwNPuYVIwcjITJ3qrFin50al0Qmu19ymwAzek394lTai7pn%2F36ANXs7bAQUCqEha8smGEqIKuFgcAUq%2Bin5vm3L6Thvh8E21Cl2ZiGrs1kECSqPw9rGIvYySg1gOU8LQhUJq1gSzIgM72EqD3jx%2BzdrHU25uSA%3D%3D");
}

.background-image--products {
  background-image: url("https://storage.googleapis.com/vue-course-api.appspot.com/shio-vue/1650181547356.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=cBvzAsVeUV1jcnfJr7%2B7Hrp9rHo5gpBBQCA6i5GAVMRE3sXJ9X3eww%2BDWYMqR1Etg0WmNZnvujXk17VsZ9hCN3XXVgw5Ly3gIObt2awQIyDfTA3LcvhiHXlE6shLfnlozE%2B%2FWITM4U0HcmECDZvF86lP%2B0r7mcJTdIgIWQYYQtMaL4XUwDbVdJ632PDvWxu1%2B6O2h4J1XeuPNWI%2Fz3sNbvgRjEsTJankLv0jI%2FJNFvyHaKYiUeN56%2FddNCR%2FAnWyxknBDU%2FBlKcIU6%2Bw05TEpZQ95UfVfB%2FEbxx8JR9gbuu2TK1NX26RS0eMAgIFZFhe%2Fpo1G5ma38lPZEuijSEkcg%3D%3D");
  opacity: 0.8;
}

.background-image--introduction {
  background-image: url("https://storage.googleapis.com/vue-course-api.appspot.com/shio-vue/1650181602493.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=VShtaJbwwTAyF8WGYkZqEQoP4OCXOoDPFC0IaESX25Nn5KOrP5PtcTwUA%2BoztdkWaZJaEwB40D8dPDmvcn3DCYRTGVpYFlhuwqAO6KVH%2FDCWd5AvQmEu%2BUqUGlHWULMXUXn2uE4nFZO53AOPPF00DnLjS0L66acWIPrRmKKNURL%2F0%2BzZzFW%2Bh9AUtEEtOuPmx7TlcVJftU5KGllfsJfLfDa4ccM62PTQCJz6PUc3OUntr7xKC0Pe7wsraQknCeyyekQKsqbKo4mC9SHPiTlByWdMhyTsoCAHB85SN1boQoB8rcGeeeaqNqxXpRvDLK50uTilPyd2L3AU5xOVdeK%2FrA%3D%3D");
  opacity: 0.5;
  background-attachment: fixed;
  @include sp {
    background-attachment: inherit;
  }
}

.background-image--cart {
  background-image: url("https://storage.googleapis.com/vue-course-api.appspot.com/shio-vue/1650181642532.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=AqEWtYOFwgVVN1WIaPca2QlP9V74NcCzJ04VZLarz7ed%2BpRVKwnfQWLbzfukWytasiizEiHBtzWgN%2BdQsAdfZAn5pYGeqOrjVDDnJzr%2BlEA7NoejSMztjsHKRmsujIH7Y7EI3%2F4AEad3%2B0RsS4idx9yyCNBRLfKEihYXE9%2BJ9AsDN9tOXMJ9G3UkwdfWG2h091AI8LZRy7Bxbh1Uxa%2FUyd%2FhfFUCNMBfECZZ1YiIu21HbYONAZfUIKdzZ0zBmKtVcFfpxAr2DUuSPTPFAoIaKemCLatJ74HLJWzRSBliYiDyuCi0%2BTMtMzaSePYD5D6BodSRT564bKdWsGpzqqLcsA%3D%3D");
}

.background-image--complete {
  background-image: url("https://storage.googleapis.com/vue-course-api.appspot.com/shio-vue/1650181681765.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=Bi2PAht20VSAX2SG%2FYsBVb8eRobGzHuObeaL0YE0wbRaTG1gRZ7x%2FBak5dwBZkBNlblbXcT%2FSYLpMQ6f3laKbQPHqg1K9i1wWKEamCfgYu6BDivVF5fiU2AyE9hhFGcboP6H7Km4wRy5PxgaJ10cqV4E3VBMAn5Y6XvAiWgi3UeAuuTuOqUX7tOAkwX%2BMlMP0KW5qcsndg8Hd0T9JDx23tQzHieGmO4FQw88CzOZufnonZhuPnIG3qWjt5mRCcTKz%2Bl4XyAqvZH2J%2Ft3mt5wCBJGnaTLL578L7qUU9k3b8hVR8hX8V0ck%2BTadZ179jGEzfR8nfeeLHlNWsc%2Bldq7Lg%3D%3D");
}

.background-image--favorite {
  background-image: url("https://storage.googleapis.com/vue-course-api.appspot.com/shio-vue/1650181719825.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=VKEKEG3klppRphLCR4tl4KtmKl7V4%2FDWpAkkut%2BeGkUYDndLk7Bm8q3UL%2BXvuSHaeIsGzk5D6XNPBEK8anblH7cuWwTxQ5EcBN%2BZdw1wMbVNeHjpbl3djKhxz02qrL%2Fbf%2Bvz2Elk%2BHG05oyiSr5fL9Vb2aBz0gv7nJvLWACPhPFJ9Mmgx7FpIoOJ8iQ9J0k2Q7jAx3uVS9znjY3FrqrDkLoCMHpzp%2BEMJLCfu%2B3dixApp2scnYJB7Kv6UElVQgAj6Zk5kySmAyNveqBMHq5nok5PFWm9McHGjBaqulhRrxtiD%2FkJ8l3ooyX4ngQUltKuuzAQB3lM04CeFcu5dBCUvw%3D%3D");
}

.background-image--product {
  height: 250px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(1px);
  background: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  @include sp {
    height: 200px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.background-title {
  color: #fff;
  z-index: 2;
  h2 {
    letter-spacing: 5px;
  }
}
