.p-card {
  overflow: hidden;
  position: relative;
  border: none;
  &__image {
    height: 300px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  &:hover {
    .hover-area {
      opacity: 1;
      padding-top: 10px;
    }
  }
  &__body {
    display: block;
    background: #fff;
    padding: 1.5rem;
    @include sp {
      background: #fafafa;
    }
  }

  &__text {
    height: 4.5em;
    overflow: hidden;
    margin-bottom: 0;
    color: #6c757d;
  }
}

.hover-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rule-list {
  line-height: 2;
}

.product__image {
  height: 500px;
  background-size: cover; 
  background-position:center 
}